@tailwind base;
@tailwind components;
@tailwind utilities;

.my-masonry-grid {
  display: -webkit-box; /* for Safari support */
  display: -ms-flexbox;
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}
